* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product__conteiner {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.product__row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  color: #000;
  margin-bottom: 30px;
}
